.action span {
  transition: all 0.1s ease-in-out;
}

.action span:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.edit {
  margin-right: 0.5rem;
}

.edit_form {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
}

.title_input {
  flex-grow: 1;
}

.active {
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
}

.row td {
  height: 42px;
}
