.productCard{
    width: 32%;
    height: 400px;    
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 4px;
    color: white;
}
.productImage{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 15%;
}
.title{
    margin: 10px;
    font-size: 24px;
    height: 2em;
    display: flex;
    align-items: center;
}
.infoBox{
    height: 10em;
}
.description{
    margin: 10px;
    color: grey;
    font-size: 18px;
    height: 4em;
}
.priceLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.price{
    font-size: 20px;
}
.starRating{
    font-size: 20px;
}
.buttonLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.a{
    border-right: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;
}
.b{
    border-right: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;
    border-left: 4px solid #3a3a3a;
}
.c{
    border-bottom: 4px solid #3a3a3a;
    border-left: 4px solid #3a3a3a;
}
.d{
    border-top: 4px solid #3a3a3a;
    border-right: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;
}
.e{
    border: 4px solid #3a3a3a;
}
.f{
    border-top: 4px solid #3a3a3a;
    border-left: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;
}
.g{
    border-top: 4px solid #3a3a3a;
    border-right: 4px solid #3a3a3a;
}
.h{
    border-left: 4px solid #3a3a3a;
    border-top: 4px solid #3a3a3a;
    border-right: 4px solid #3a3a3a;
}
.h1{
    border-left: 4px solid #3a3a3a;
    border-top: 4px solid #3a3a3a;
    border-right: 4px solid #3a3a3a;
    flex-grow: 0;
    width: 32.057%;
    
}
.i{
    border-top: 4px solid #3a3a3a;
    border-left: 4px solid #3a3a3a;
}