.main {
  margin-top: 3rem;
}

.container {
  margin: 0 auto;
  overflow-x: scroll;
}

.container table {
  min-width: 750px;
}

.container table {
  border-collapse: collapse;
  width: 100%;
}

.select_cont {
  max-width: 300px;
}
