.main {
  margin-top: 3rem;
}

.container {
  margin: 0 auto;
  width: 96%;
  overflow-x: scroll;
}

.container table {
  min-width: 750px;
}

.nothing_yet {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-grey);
}
