.container {
  flex-basis: 600px;
  margin: 1.75rem auto;
  padding: 1.25rem;
  border: 2px solid var(--dark-grey);
  border-radius: 0.5rem;
  position: relative;
}

.container form {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  padding: 0 0.5rem;
  background-color: var(--background-color);
  color: var(--dark-grey);
  white-space: nowrap;
}
