.container {
  padding: 1rem 3rem;
}

.date {
  margin-bottom: 0.5rem;
}

.starRating {
  margin-bottom: 0.5rem;
}

.text {
  margin-bottom: 0.5rem;
}

.username {
  margin-bottom: 2rem;
}
.user {
  border-bottom: groove 0.1rem var(--darkFont-color);
  border-left-width: 1rem;
}

@media (max-width: 650px) {
  .container {
    padding: 1rem 0;
  }
}

/* dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border */
