.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.header a {
  text-decoration: none;
}

.navbar {
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.navbar_routes {
  display: flex;
}

.navbar_links {
  display: flex;
  margin-left: 1rem;
  color: var(--darkFont-color);
  text-decoration: none;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.navbar_links:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.image {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.image span {
  white-space: nowrap;
  color: var(--accent-color);
  font-family: "Comforter", cursive;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 0.25rem;
  transform: translateY(5px);
}

.image img {
  width: 55px;
  height: auto;
}

.cart {
  display: flex;
  position: relative;
}

.cart i {
  font-size: 1.75rem;
}

.cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  position: absolute;
  top: -10px;
  right: -12px;
  border-radius: 50%;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  background-color: var(--accent-color-hover);
  width: 25px;
  height: 25px;
}

.hamburger {
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 1003;
}

.hamburger span {
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 7px;
}
.hamburger span:nth-child(2) {
  top: 18px;
}
.hamburger span:nth-child(3) {
  top: 29px;
}

.hamburger.active span:nth-child(1) {
  left: 0;
  top: 18px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  left: 0;
  top: 18px;
  transform: rotate(-45deg);
}

.logout {
  margin-left: 1rem;
}

.bouncing {
  animation: k_bouncing_cart 0.2s linear;
}

@keyframes k_bouncing_cart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  .navbar_links {
    font-size: 1.25rem;
  }
  .cart i {
    font-size: 1.5rem;
  }
  .cart span {
    font-size: 0.5rem;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 625px) {
  .navbar_links {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .cart i {
    font-size: 1.5rem;
  }
  .cart span {
    font-size: 0.5rem;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 550px) {
  .navbar_routes,
  .logout {
    display: none;
  }

  .navbar_links[href="/cart"] {
    margin-right: 1rem;
  }
  .hamburger {
    display: block;
  }
}
