* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  --background-color: #232325;
  --font-color: #fff;
  --accent-color: #4af6cd;
  --error-color: 255, 0, 0;
  --accent-color: #1aacf4;
  --accent-color-hover: #0099e6;
  --darkFont-color: darkgrey;
  --error-color: 156, 43, 46;
  --success-color: 0, 255, 0;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
}

h1 {
  text-transform: capitalize;
  font-size: 3rem;
}
