* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  /* colors */
  --background-color: #222;
  --background-elem: #393939;
  --font-color: #fff;

  --accent-color: #4af6cd;
  --error-color: 255, 0, 0;
  --accent-color: #1aacf4;
  --accent-color-hover: #0099e6;
  --darkFont-color: darkgrey;
  --accent-color: #1aacf4;
  --accent-color-hover: #0099e6;
  --dark-grey: darkgrey;
  --error-color: 156, 43, 46;
  --success-color: rgb(25, 135, 83);

  /* media sizes */
  --layout-width: 960px;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: sans-serif;
}

h1.title {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--font-color);
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

table {
  border-collapse: collapse;
}

table a {
  color: var(--font-color);
  transition: all 0.1s ease-in-out;
}

table a:hover {
  color: var(--accent-color);
}

table th {
  background-color: var(--accent-color);
}

table td,
table th {
  border: 2px solid var(--accent-color-hover);
  padding: 0.5rem;
}

table tr:nth-child(odd) {
  background-color: var(--background-elem);
}

.active {
  color: var(--accent-color-hover) !important;
}

@media (max-width: 600px) {
  h1.title {
    font-size: 2.25rem;
  }
}
