.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-gap: 1.5em;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.img {
  width: 100%;
}

.productImage {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 15px 5px var(--accent-color);
  border-radius: 15%;
}

.description {
  padding: 1rem 1rem 0;
  color: var(--darkFont-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.productTitle {
  margin-bottom: 1rem;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}
.productDescription {
  margin-bottom: 0.5rem;
  font-size: x-large;
  margin-bottom: 1.5rem;
}

.priceline {
  display: grid;
}

.price {
  color: var(--font-color);
  font-size: x-large;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.quantity {
  margin-bottom: 1rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.review {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 100%;
    padding: 1rem;
  }
}
