.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  grid-gap: 2em;
  padding: 1rem;
  /* border: solid 5px var(--accent-color); */
  border-radius: 2.5%;
  background-color: var(--background-elem);
}


.img {
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  height: auto;
  box-shadow: 8px 8px 20px var(--accent-color);
}

.title {
  display: flex;
  font: large;
  width: 450px;
  justify-content: center;
  color: var(--darkFont-color);
}

.description {
  padding: 25px;
  color: var(--darkFont-color);
}
.productTitle {
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: bolder;
}
.productDescription {
  margin-bottom: .5rem;
  font-size: large;
}

.priceline {
  display: grid;
}

.price {
  font-size: x-large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


input {
  width: 2.5rem;
  background-color: var(--darkFont-color);
  text-decoration: none;
}

.quantity {
  margin-bottom: 1rem;
}

.review {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.quantity_inp {
  width: 120px;
}
