.form_control {
  width: 100%;
  position: relative;
  height: 5.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}

.form_control.textarea {
  height: 9rem;
}

.label {
  color: var(--accent-color);
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

.input {
  border: 2px solid var(--accent-color);
  color: var(--font-color);
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--background-elem);
  outline: none;
}

textarea.input {
  font-family: inherit;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:active {
  border: 1px solid rgb(var(-success-color));
  -webkit-text-fill-color: var(--font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-elem) inset;
  box-shadow: 0 0 0px 1000px var(--background-elem) inset;
}

.error_input {
  border: 2px solid rgb(var(--error-color));
  color: rgb(var(--error-color));
}

.error_label {
  color: rgb(var(--error-color));
}

.error_message {
  position: absolute;
  bottom: 0;
  color: rgb(var(--error-color));
}

@media (max-width: 400px) {
  .form_control {
    height: 5rem;
    margin-bottom: 0.25rem;
  }
  .label {
    font-size: 1rem;
  }
}
